
.posted-help-list{
    max-width:768px;
    margin-left:auto;
    margin-right:auto;
    min-height:300px;
}

.posted-help-list #container{
    padding-top:1rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.posted-help-list .help-view{
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
    margin-bottom:1rem;
    background-color:#fff;
   // height:50px;
    border-radius:0.3rem;
}

.posted-help-list .help-view .head {
    border-bottom:0.05rem solid #eee;
}
.posted-help-list .help-view .head .state{
    display:block;
    float:left;
    font-size:0.8rem;
   
} 
.posted-help-list .help-view .head .operation {
    float:right;
}
.posted-help-list .help-view .head .operation ul li{
    display:inline-block;
    float:right;
}
.posted-help-list .help-view .head .operation ul li  .del-btn{
    background-color:#f00;
    font-size:0.8rem;
}
.posted-help-list .help-view .info{
    height:1.6rem;
    line-height:1.6rem;
}
.posted-help-list .help-view .info .location {
    display:inline-block;
    float:left;
    width:60%;
    height:1.6rem;
    overflow:hidden;
}
.posted-help-list .help-view .info .location .icon{
    font-size:0.8rem;
    color:#ababab;
    padding-right:0.3rem;
} 

.posted-help-list .help-view .info .location .value{
    font-size:0.65rem;
    color:#ababab;
}

.posted-help-list .help-view .info .posttime{
    font-size:0.65rem;
    display:inline-block;
    float:right;
    color:#ababab;
}

.posted-help-list .help-view .content{
    padding:0.4rem 0.4rem;
    color:#555;
    font-size:0.8rem;
    
}

.posted-help-list .help-view .help-head{
    border-top:0.05rem solid #eee;
    padding:0.4rem 0.4rem;
    padding-top:0.4rem;
}
.posted-help-list .help-view .help-head .post-user{
    display:block;
    float:left;
}
.posted-help-list .help-view .help-head .post-user .head-img{
    display:inline-block;
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: bottom;
    border-radius:50%;
}

.posted-help-list .help-view .help-head .post-user .name{
    display:inline-block;
    padding-left:0.2rem;
    color:#ababab;
}
.posted-help-list .help-view .help-head .price{
    display:block;
    float:right;
}

.posted-help-list .help-view .help-head .price span{
    color:#f00;
    padding-left:0.2rem;
    padding-right:0.2rem
    
}

.posted-help-list .help-view .help-footer{
    border-top: 0.05rem solid #eee;
    margin-top:0.5rem;
    padding:0.2rem  0.4rem;
    padding-bottom:0;
}
.posted-help-list .help-view .help-footer .done-user {
    display:inline-block;
    float:right;
    overflow:hidden;
    
}
.posted-help-list .help-view .help-footer .done-user .head-img{
    display:inline-block;
    width:1.25rem;
    height:1.25rem;
    vertical-align:bottom;
    border-radius: 50%;
}
.posted-help-list .help-view .help-footer .done-user .name{
    display:inline-block;
    color:#555;
    padding-left: 0.2rem;
}

.posted-help-list .help-view .help-footer .done-user .note{
    display:inline-block;
    color: #ababab;
    padding-left: 0.3rem;
    padding-right:0.2rem;
}

.posted-help-list .help-view .help-footer .done-user .contact .means{
    color:#ababab;
    padding-left:0.2rem;
    padding-right:0.2rem;
    font-size:0.65rem;
    display:inline-block;
    height:0.65rem;
}

.posted-help-list .help-view .help-footer .done-user .contact .value{
    color:#ababab;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size:0.65rem;
    height:0.65rem;
    display:inline-block;
    overflow:hidden;
  
}
