{% extends "base.html" %}
{% block header %}
{% end %}
{% block main_content %}
	<div>
		<img src="{{ static_url('images/cat.jpg')}}" style="width:50%;text-align: center;margin:2rem auto;display: block;  ">
	</div>
	
	<article class="weui_article">
	<h1>
		关于
	</h1>
		<section>
			<h4>关于互助服务</h4>
			<p>
				在这里你可以通过给出一点赏金来求助身边三千米范围内的人，帮你完成一件小事，从超市带一袋泡面？可以！取一下快递？可以
			</p>
			<p>
				在这里你可以通过给出一点赏金来求助身边三千米范围内的人，帮你完成一件小事，从超市带一袋泡面？可以！取一下快递？可以

			</p>
		</section>
		<section>
			<h4>关于我们</h4>
			<p>
				目前大四，成员两人，用Python + 微信尝试这个我们考虑了很久的事情，希望可以给身边的人带来一些便利
			</p>
			<p>
				——以上 By leeon & john
			</p>
		</section>
	</article>
	
{% end %}
