{% extends "base.html" %}
{% block header %}
{% end %}
{% block container %}

	<article class="weui_article">
		<h2>
			用户协议
		</h2>
		<section>
			<h3>
				第一条 协议内容及生效
			</h3>
			<p>
				1.1 本用户协议内容包括以下所有正文及“在行”网站、移动客户端及“分答”移动客户端平台已经发布或将来可能发布的各类规则、解释、声明、通告等。所有上述规则、解释、声明及通告等都被视为本用户协议的组成部分，具有同等的法律效力。
			</p>
		</section>
	</article>
{% end %}
{% block js_custom %}
	<script type="text/javascript" src="{{static_url('javascripts/jquery-3.1.0.min.js')}}"></script>
	<script type="text/javascript">
		var list=document.getElementsByClassName("weui_article");

		for(var i=0;i<10;i++){
			var node=document.createElement("section");
			node.innerHTML='<h3>第一条 协议内容及生效</h3><p>1.1 本用户协议内容包括以下所有正文及“在行”网站、移动客户端及“分答”移动客户端平台已经发布或将来可能发布的各类规则、解释、声明、通告等。所有上述规则、解释、声明及通告等都被视为本用户协议的组成部分，具有同等的法律效力。</p>';
			list[0].appendChild(node);
		}


	</script>
{% end %}
