{% extends "base.html" %}
{% block header %}
    <header class="center text_center" style="font-size: 1rem;">
        <p>发布请求</p>
    </header>
{% end %}
{% block container %}
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea" style="font-size:0.8rem" placeholder="请输入详细要求" rows="3"></textarea>
                <div class="weui_textarea_counter" style="font-size:0.8rem"><span>0</span>/100</div>
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea" style="font-size:0.8rem" placeholder="有需要备注的吗" rows="2"></textarea>
                <div class="weui_textarea_counter" style="font-size:0.8rem"><span>0</span>/20</div>
            </div>
        </div>


        <div class=" center" style="color: #f00; width:6rem">
            <lable class="" style="font-size:0.8rem">小费</lable>
            <input class="weui_input" type="text" name="" style="width: 2.6rem; border-bottom: 1px solid gray;">
            <span>￥</span>
        </div>
        <div class="btn_sp_area">
            <button type="submit" class="weui_btn " style="width: 5rem;margin-top:1rem;background-color:  #f00;font-size:0.8rem;width: 4rem;">提交</button>
        </div>
    </div>
    <div class="content" style="font-size: 0.8rem; background-color: #fff;">
    </div>
{% end %}
{% block js_custom %}
    <script type="text/javascript" src="{{static_url('javascripts/jquery-3.1.0.min.js')}}"></script>
{% end %}
