<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

	<title>互助广场</title>
	<link rel="stylesheet" type="text/css" href="{{static_url('stylesheets/weui.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static_url('stylesheets/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static_url('stylesheets/jquery-weui.min.css')}}">
	
	{% end %}
	 
        {% block head_custom %}
        {% end %}


</head>
<body>
	{%block header%}
	{%end%}

	{% block container %}
	
	{% end  %}
	{% block footer %}
	<div class="footer" >
		<div class="weui_tab">
		     <div class="weui_tab_bd">

			<div class="weui_tabbar">
				<a href="/" class="weui_tabbar_item ">
					<div class="weui_tabbar_icon">
						<img src="{{static_url('images/near.png')}}" alt="">
					</div>
					<p class="weui_tabbar_label">周边</p>
				</a>
				<a href="/posthelp/" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<img src="{{static_url('images/help.png')}}" alt="">
					</div>
					<p class="weui_tabbar_label">求助</p>
				</a>
				<a href="/user/" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<img src="{{static_url('images/me.png')}}" alt="">
					</div>
					<p class="weui_tabbar_label">我的</p>
				</a>
			</div>
	              </div>
		</div>
	</div>
	{% end %}

	{%block js_require%}
	<script type="text/javascript" src="{{static_url('javascripts/jquery-3.1.0.min.js')}}"></script>
	<script type="text/javascript" src="{{static_url('javascripts/jquery-weui.min.js')}}"></script>
	<script type="text/javascript" src="{{static_url('javascripts/hnet-functions.js')}}"></script>
	<script type="text/javascript" src="{{static_url('javascripts/hnet-resource.js')}}"></script>
	{%end%}

	{% block js_custom %}

	{% end %}
</body>
</html>
