<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

	<title>互助服务</title>
	<!-- <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"> -->
	<link rel="stylesheet" type="text/css" href="{{static_url('stylesheets/weui.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static_url('stylesheets/style.css')}}">
	{% end %}
	<style type="text/css">
		.ask-footer .weui_btn{
			width: 4rem;
			font-size: 1rem;
			line-height: 1.5rem;
			float: right;
		}

	</style>


</head>
<body>
	{% block header %}
	<header class="center text_center">
		<a href="" >求单</a>

		<div class="weui_search_bar" id="search_bar">
			<form class="weui_search_outer">
				<div class="weui_search_inner">
					<i class="weui_icon_search"></i>
					<input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required/>
					<a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
				</div>
				<label for="search_input" class="weui_search_text" id="search_text">
					<i class="weui_icon_search"></i>
					<span>搜索</span>
				</label>
			</form>
			<a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
		</div>
		
	</header>
	{% end %}
	{% block main_content %}
	<div id="content">
		<ul class="request_list center">

			<li class="a_help">
				<a href="/detail">
					<div class="help_asker">
						<img class="head_img" src="{{static_url('images/cat.jpg')}}"> 
						<span class="asker_name">一只叫狗狗的鸡</span>
						<span class="help_price" >￥20</span>
					</div>
					<div>	
						<p>助！  从360带一桶老坛酸菜泡面，外加一根玉米火腿肠，我住在东六A304，万分感谢！</p>
					</div>
					<div class="ask-footer">
						<span id="post_time" class="footer_p">还剩32分钟</span>
						<a class="weui_btn weui_btn_primary">详情</a>
					</div>
				</a>
			</li>


		</ul>
	</div>
	{% end  %}
	{% block menu %}
	<div class="footer">
		<div class="weui_tab">
			<div class="weui_tabbar">
				<a href="/" class="weui_tabbar_item ">
					<div class="weui_tabbar_icon">
						<img src="{{static_url('images/near.png')}}" alt="">
					</div>
					<p class="weui_tabbar_label">周边</p>
				</a>
				<a href="/askhelp/" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<img src="{{static_url('images/help.png')}}" alt="">
					</div>
					<p class="weui_tabbar_label">求助</p>
				</a>

				<a href="/user/" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<img src="{{static_url('images/me.png')}}" alt="">
					</div>
					<p class="weui_tabbar_label">我的</p>
				</a>
			</div>
		</div>
	</div>
	{% end %}
	{% block js_zone %}
	<script type="text/javascript" src="{{static_url('javascripts/jquery-3.1.0.min.js')}}"></script>
	<script type="text/javascript">
		// $(function () {
		// 	$("#content").height($(window).height() - $(".weui_tab").height());
		// })
		var list = document.getElementsByClassName("request_list");

		for(var i=0;i<10;i++){
			var node=document.createElement("li");
			node.className="a_help";
			var nodeContent=' <a href="/detail"><div class="help_asker"><img class="head_img" src="{{static_url("images/cat.jpg")}}"><span class="asker_name">一只叫狗狗的鸡</span>	<span class="help_price" >￥20</span></div>	<div><p>助！  从360带一桶老坛酸菜泡面，外加一根玉米火腿肠，我住在东六A304，万分感谢！</p></div><div class="ask-footer"><span id="post_time" class="footer_p">还剩32分钟</span><a class="weui_btn weui_btn_primary">详情</a>	</div></a>';
			node.innerHTML=nodeContent;
			list[0].appendChild(node);
		}


		
	</script>

	{% end %}
</body>
</html>
