{% extends "base.html" %}
{% block header %}
{% end %}
{% block container %}

	<article class="weui_article">

		<h1>帮助</h1>
		<section>
			<h3>如何发起求助</h3>
			<p>
				1.1 本用户协议内容包括以下所有正文及“在行”网站、移动客户端及“分答”移动客户端平台已经发布或将来可能发布的各类规则、解释、声明、通告等。所有上述规则、解释、声明及通告等都被视为本用户协议的组成部分，具有同等的法律效力。
			</p>
		</section>
		<section>
			<h3>如何接单</h3>
			<p>
				1.1 本用户协议内容包括以下所有正文及“在行”网站、移动客户端及“分答”移动客户端平台已经发布或将来可能发布的各类规则、解释、声明、通告等。所有上述规则、解释、声明及通告等都被视为本用户协议的组成部分，具有同等的法律效力。
			</p>
		</section>
		<section>
			<h3>关于赏金</h3>
			<p>
				1.1 本用户协议内容包括以下所有正文及“在行”网站、移动客户端及“分答”移动客户端平台已经发布或将来可能发布的各类规则、解释、声明、通告等。所有上述规则、解释、声明及通告等都被视为本用户协议的组成部分，具有同等的法律效力。
			</p>
		</section>
	</article>
{% end %}
