{% extends "base.html" %}

{% block head_custom %}
<link rel="stylesheet" type="text/css" href="{{ static_url('stylesheets/do-help-page.css')}}">
<link rel="stylesheet" type="text/css" href="{{ static_url('stylesheets/font-awesome.min.css')}}">
{% end %}
{% block header %}
<div class="weui-pull-to-refresh-layer" style="display:none" >
    <div class="pull-to-refresh-arrow"></div> 
    <div class="pull-to-refresh-preloader"></div>
    <div class="down">下拉刷新</div>
    <div class="up">释放刷新</div>
    <div class="refresh">正在刷新...</div>
</div>
<header class="center text_center" >
        <p>帮助Ta</p>      
</header>
{% end %}

{% block container %}
    <div id="do_help" >
        <div  class="do_help_container" >
        <div class="do_help_head">
            <img src="{{ static_url('images/cat.jpg')}}" class="post_user_head_img user_head_img">
            <span class="post_username">一只叫狗狗的鸡</span>
        </div>
        <div class="do_help_body">
           <span class="body_note_tag help_content_tag">求助内容:</span>
           <p class="weui_article help_content">
                请从360超市带一桶老坛酸菜泡面，外加一根玉米火腿肠，我住在东六A304，万分感谢！
           </p>
           <span class="body_note_tag location_tag">求助位置:</span>
           <p class="location"><i class="fa fa-map-marker icon"></i><span class="value">西南科技大学图书馆<span></p>
           <span class="body_note_tag post_usercontact_tag">求助人联系方式:</span>
           <p class="post_usercontact"><i class="fa fa-phone icon"></i><span class="value">182*******<span></p>
           <p class="text_center help_price" >小费：￥ 1</p>
           <form id="do_help_form" method="POST" action="#">
               <div class="do_help_form_container">
               <select name="do_usercontact_means" class="do_usercontact_means">
                   <option value="1">电话</option>
                   <option value="2">微信</option>
                   <option value="3">QQ</option>
               </select>
               <span class="select-angle"></span>
               <span class="select-left-border"></span>
               <input type="text" id="do_usercontact" name="do_usercontact" class=" do_usercontact" placeholder="请留下你的联系方式"/>
               <div class="clear-fix" style="clear:both;"></div>
               </div>
               <button type="submit" id="dohelp_btn" class="weui_btn  dohelp_btn">帮助Ta</button>
           </form>
        </div>
        </div>
    </div>
{% end %}
{% block js_custom %}
    <script type="text/javascript" src="{{ static_url('javascripts/do-help.js')}}"></script>
{% end %}

