{% extends "base.html" %}

{% block head_custom %}
<link rel="stylesheet" type="text/css" href="{{ static_url('stylesheets/do-help-page.css')}}">
<link rel="stylesheet" type="text/css" href="{{ static_url('stylesheets/font-awesome.min.css')}}">
{% end %}
{% block header %}
<div class="weui-pull-to-refresh-layer" style="display:none" >
    <div class="pull-to-refresh-arrow"></div> 
    <div class="pull-to-refresh-preloader"></div>
    <div class="down">下拉刷新</div>
    <div class="up">释放刷新</div>
    <div class="refresh">正在刷新...</div>
</div>
<header class="center text_center" >
        <p>帮助Ta</p>      
</header>
{% end %}

{% block container %}
    <div id="do-help" >
        <div  id="container" class="container" >
        <div class="head">
            <img src="{{ data['post_userheadimgurl'] }}" class="head-img">
            <span class="username">{{ data['post_username']}}</span>
        </div>
        <div class="body">
           <span class="tag content-tag">求助内容:</span>
           <p class="weui_article content">
               {{ data['content']}}
           </p>
           <span class="tag location-tag">求助位置:</span>
           <p class="location"><i class="fa fa-map-marker icon"></i><span class="value">{{ data['address'] }}</span></p>
           <span class="tag post-usercontact-tag">求助人联系方式:</span>
           <p class="post-usercontact">
           {% if data['post_usercontact_means'] == "1" %}
               <i class="fa fa-phone icon"></i>
           {% elif data['post_usercontact_means'] == "2" %}
               <i class="fa fa-weixin icon"></i>
           {% elif data['post_usercontact_means'] == "3" %}
               <i class="fa fa-qq icon"></i>
           {% else %}
               <i class="fa fa-phone icon"></i>
           {% end %}                   
           <span class="value">{{ data['post_usercontact'] }}<span></p>
           <p class="text_center price" ><span class="tag">小费：</span>
           <span class="value">{{ data['price'] }}</span></p>
           <form class="form" id="form" method="POST" action={{data['url'] }}>
               <div class="container" >
               <select name="do_usercontact_means" class="do-usercontact-means">
                   <option value="1">电话</option>
                   <option value="2">微信</option>
                   <option value="3">QQ</option>
               </select>
               <span class="select-angle"></span>
               <span class="select-left-border"></span>
               <input type="text" id="do-usercontact" name="do_usercontact" class="do-usercontact" placeholder="请留下你的联系方式"/>
               <div class="clear-fix" ></div>
               </div>
               <button type="submit" id="submit-btn" class="weui_btn  submit-btn">帮助Ta</button>
           </form>
        </div>
        </div>
    </div>
{% end %}
{% block js_custom %}
    <script type="text/javascript" src="{{ static_url('javascripts/do-help.js')}}"></script>
{% end %}

