{% extends "base.html" %}


{% block head_custom %}
<link rel="stylesheet" type="text/css" href="{{ static_url('stylesheets/help-list-page.css')}}">
{% end %}
{% block header %}
<div class="weui-pull-to-refresh-layer" style="display:none" >
    <div class="pull-to-refresh-arrow"></div> 
    <div class="pull-to-refresh-preloader"></div> 
    <div class="down">下拉刷新</div>
    <div class="up">释放刷新</div>
    <div class="refresh">正在刷新...</div>
</div>
<header class="left header text_center" >
	<a href="/">周围求助</a>
</header> 
<!--
<div class="weui_search_bar" id="search_bar" style="position:fixed;top:0px;left:0xp;width:100%;z-index:999999;">
	<form class="weui_search_outer">
		<div class="weui_search_inner">
			<i class="weui_icon_search"></i>
			<input type="search" class="weui_search_input" id="search_input" placeholder="请输入地名" required/>
			<a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
		</div>
		<label for="search_input" class="weui_search_text" id="search_text">
			<i class="weui_icon_search"></i>
			<span>搜索地名</span>
		</label>
	</form>
	<a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
</div>
-->
{% end %}


{% block container %}
<div id="help_list_container">
</div>
{% end  %}

{% block js_custom %}
<script src="//cdn.bootcss.com/jquery-timeago/1.5.3/jquery.timeago.min.js"></script>
<script src="{{ static_url('javascripts/help-list.js') }}"></script>

{% end %}
