{% extends "base.html" %}

{% block header %}
<header class="center text_center" style="font-size: 1rem;">
    <p>接单详情</p>      
</header>
{% end %}

{%  block container %}
<div id="content" class="a_help" style="background-color: #fff;">
    <div>
        <img src="images/cat.jpg" class="head_img">
        <span>一只叫狗狗的鸡</span>
    </div>
    <article class="weui_article">   
        <h3>需求</h3>
        <p>
            请从360超市带一桶老坛酸菜泡面，外加一根玉米火腿肠，我住在东六A304，万分感谢！
        </p>
        <h3>备注</h3>

        <p>时间在九点之前</p>
    </article>
    <p class="text_center" style="font-size: 0.9rem; margin-top: 1rem; color: #f00;">赏金：￥ 1</p>

    <a href="#" class="weui_btn" style="width:4rem;margin-top:1rem;background-color:#f00; font-size:0.8rem">接单</a>
</div>


{% end %}