<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>我的求助</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/weui.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <header class="  text_center" style=" font-size:1rem; background-color: #fff;">
        <p>我的求助</p>
    </header>

    <p class="font_mid">未完成订单</p>
    <ul id="finishing">
      <li class="a_help">
      <a href="/askstate">
            <div class="help_asker">
                <img class="head_img" src="images/cat.jpg"> 
                <span class="asker_name">一只叫狗狗的鸡</span>
                <span class="help_price" >￥2</span>
            </div>
            <div> 
                <p>助！  从360带一桶老坛酸菜泡面，外加一根玉米火腿肠，我住在东六A304，万分感谢！</p>
            </div>
            <div class="footer_p">
                <span id="post_time" style="float:right">30分钟前</span>
                <div style="width:7rem;">
                    <span>求单状态: </span>
                    <span style="color:#f00">
                        待认领
                    </span>
                </div>
            </div>
        </a>
    </li>
    <li class="a_help">
    <a href="/askstate">
            <div class="help_asker">
                <img class="head_img" src="images/cat.jpg"> 
                <span class="asker_name">一只叫狗狗的鸡</span>
                <span class="help_price" >￥2</span>
            </div>
            <div> 
                <p>助！  从360带一桶老坛酸菜泡面，外加一根玉米火腿肠，我住在东六A304，万分感谢！</p>
            </div>
            <div class="footer_p">
                <span id="post_time" style="float:right">30分钟前</span>
                <div style="width:7rem;">
                    <span>求单状态: </span>
                    <span style="color:#0f0">
                        已接单
                    </span>
                </div>
            </div>
        </a>
    </li>

</ul>

<p class="font_mid">已完成订单</p>
<ul id="finishing">
    <li class="a_help">
    <a href="/askstate">
            <div class="help_asker">
                <img class="head_img" src="images/cat.jpg"> 
                <span class="asker_name">一只叫狗狗的鸡</span>
                <span class="help_price" >￥2</span>
            </div>
            <div> 
                <p>助！  从360带一桶老坛酸菜泡面，外加一根玉米火腿肠，我住在东六A304，万分感谢！</p>
            </div>
            <div class="footer_p">
                <span id="post_time" style="float: right;" >9-16</span>
                <div style="width:7rem;" >
                    <span >求单状态: </span>
                    <span style="color:#00f">已完成</span>
                </div>
            </div>
        </a>
    </li>
</ul>

<div class="footer">
    <div class="weui_tab">
        <div class="weui_tabbar">
            <a href="/helplist" class="weui_tabbar_item ">
                <div class="weui_tabbar_icon">
                    <img src="images/near.png" alt="">
                </div>
                <p class="weui_tabbar_label">周边</p>
            </a>
            <a href="/askhelp" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="images/help.png" alt="">
                </div>
                <p class="weui_tabbar_label">求助</p>
            </a>
            <a href="/mine" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="images/me.png" alt="">
                </div>
                <p class="weui_tabbar_label">我的</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>