<!-- 用户信息不修改，此文件不需要 -->


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-sacle=1,user-scalable=0">
	<title>编辑资料</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/weui.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<header class="text_center center" style="font-size: 1rem">
		<p>修改资料</p>
	</header>
	<div>




	</div>

	<div class="footer">
		<div class="weui_tab">
			<div class="weui_tabbar">
				<a href="/helplist" class="weui_tabbar_item ">
					<div class="weui_tabbar_icon">
						<img src="images/near.png" alt="">
					</div>
					<p class="weui_tabbar_label">周边</p>
				</a>
				<a href="/askhelp" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<img src="images/help.png" alt="">
					</div>
					<p class="weui_tabbar_label">求助</p>
				</a>
				<a href="/mine" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<img src="images/me.png" alt="">
					</div>
					<p class="weui_tabbar_label">我的</p>
				</a>
			</div>
		</div>
	</div>
</body>
</html>