#ask_help{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    padding-bottom:3rem;
    max-width: 768px;
}

.ask_help_container{
    //background-color: #fff;
    background:transparent;
    font-size:.8rem;
   //margin-bottom: 8rem;
}

.ask_help_form_item{
    margin-bottom: .6rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
}
.ask_help_form_item_title{
    font-size:0.8rem;
    color: #5b5b5b;
    //color:#9d55b8;
}
.ask_help_form_item_input{
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    line-height: 1rem;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
    //border:.05rem solid #ddd;
    border:0.05rem solid #eee;
    color:#333;
    font-size:0.8rem;
}

.post_usercontact_info{
    position:relative;
}
.post_usercontact_info_item{
    float:left; 
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    color:#333;
    font-size:0.8rem;
}
.post_usercontact_means_container{
    position relative;
    width:24%;
    box-sizing:border-box;
}
.post_usercontact_means_cs{
    box-sizing:border-box;
    appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    width:100%;
    padding-left:0.2rem;
    font-size:0.8rem;
    height:1.7rem;
    padding: 0.3rem 0.5rem;
    border:0;
    border:none;
    outline:none;
    border:0.05rem solid #eee;
    border-right:none;
    background-color:#fff;
    //border-top-left-radius:0.2rem;
    //border-bottom-left-radius:0.2rem;
}
.select-angle{
    position:absolute;
    width:0;
    height:0;
    top:0.7rem;
    left:15%;
    border:0.3rem solid #555;
    border-color:transparent;
    border-top-color:#555;
}
.select-left-border{
    position:absolute;
    height:1rem;
    width:0.05rem;
    background-color:#555;
    top:0.35rem;
    display:block;
    left:22%;
    border:none;
   float:right;
}
.post_usercontact_input{
   width:76%;
   box-sizing:border-box;
   line-height: 1rem;
   border-top-right-radius:0.2rem;
   border-bottom-right-radius:0.2rem;
   border:0.05rem solid #eee;
   border-left:none; 
   padding: 0.3rem 0.5rem;
}


.btn_container{
    margin-top:2rem;
}
.ask_help_submit_btn{
    background-color:#f00;
   
}
.clear-fix{
    clear:both;
}

