
#do-help{
    margin-left:auto;
    max-width: 768px;
    margin-right:auto;
    padding-bottom:3rem;
}

#container
{
   
    max-width: 768px;
    background-color:#fff;
    font-size: .8rem;
    margin-bottom: .6rem;
    padding: .75rem .9rem;
   
}
#do-help .head{
    font-size: .8rem;
    line-height: 1.25rem;
    overflow: hidden;
    margin-bottom: .5rem;
}

#do-help .head .head-img{
    position: relative;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: bottom;
    border-radius: 50%;
}

#do-help .head .username{
   display: inline-block;
   margin-left: .475rem;
   font-size:0.8rem;
}

#do-help .body .tag{
   color: #888;
   display: inline-block;
   margin-top: 0.25rem;
   margin-bottom: 0.25rem;
   font-size:.8rem;
   vertical-align:center;
   
}

#do-help .body .content{
   border: 0.05rem solid #eee;
   padding: 0.5rem 0.5rem;
   font-size:.8rem;
}

#do-help .body .post-usercontact{
   padding: .5rem .5rem;
 
}
#do-help .body .post-usercontact .icon{
   color:#ababab;
   font-size:0.8rem;
   padding-left:0.1rem;
   padding-right:0.1rem;
}
#do-help .body .post-usercontact .value{
   color:#555;
   padding-left:0.1rem;
   padding-right:0.1rem;
   width:80%;
   overflow:hidden;
}
#do-help .body .location {
   padding: 0.5rem 0.5rem;
}

#do-help .body .location .icon{
   color:#ababab;
   font-size:0.8rem;
   padding-left:0.1rem;
   padding-right:0.1rem;
}

#do-help .body .location .value{
   color:#555;
   padding-left:0.1rem;
   padding-right:0.1rem;
   width:80%;
}
#do-help .body .price {
   font-size: 0.9rem;
   margin-top: 0.5rem;
}
#do-help .body .price .tag,#do-help .body .price .value {
   color:#f00;
   
}


#do-help .body .form{
    padding-top: 1rem;
}

#do-help .body .form .submit-btn{
    margin-top: 1rem;
    background-color: #f00;
    font-size: 0.8rem;
}

.submit-btn-disabled{
    margin-top: 1rem;
    background-color: #eee;
    font-size: 0.8rem;
    color: #aaa;
}

#do-help .body .form .container{
   position:relative;
   border-bottom: 0.05rem solid #eee;
} 
#do-help .body .form .do-usercontact-means{
    float:left;
    box-sizing:border-box;
    display:block;
    height:2rem;
    padding-left:0.2rem;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    border:0;
    border:none;
    outline:0;
    font-size:0.8rem;
    background:transparent;
    line-height:2rem;
    width:23%;
}
#do-help .body .form  .select-angle{
    position:absolute;
    display:block;
    width:0;
    height:0;
    top:0.9rem;
    left:15%;
    border:0.3rem solid #555;
    border-color:transparent;
    border-top-color:#555;
}
#do-help .body .form  .select-left-border{
    position:absolute;
    display:block;
    height:1rem;
    width:0.05rem;
    background-color:#555;
    top:0.5rem;
    display:block;
    left:22%;
    border:none
}
#do-help .body .form .do-usercontact{
   box-sizing:border-box;
   float:right;
   width:77%;
   border: 0;
   height:2rem;
   line-height:1.0rem;
   font-size:0.8rem;
   padding-left:0.5rem;
   //border-bottom: 0.05rem solid #eee;
   //border-radius: 0.1rem;
}
#do-help .body .form .do-usercontact:focus{
   outline:none;
   appearance:none;
   -moz-appearance:none; /* Firefox */
   -webkit-appearance:none; /* Safari 和 Chrome */
}
