
#help_list_container
{
    overflow: scroll;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

.help_list_item
{
    max-width: 768px;
}

.help_list_item_container
{
    font-size: .8rem;
    /*width: 100%;*/

    margin-bottom: .6rem;
    padding: .75rem .9rem;

    background-color: #fff;
}

.help_list_item_head
{
    font-size: .8rem;
    line-height: 1.25rem;
    overflow: hidden;
    margin-bottom: .5rem;
}

.help_post_user_name
{
    display: inline-block;

    margin-left: .475rem;
}

.help_price{
    float: right;
    color: #f85f48;

}

.help_price_tag{
    font-size:0.7rem;
}
.help_price_num{
    font-size:0.7rem;
}

.help_post_user_head_img
{
    position: relative;

    display: inline-block;

    width: 1.25rem;
    height: 1.25rem;

    vertical-align: bottom;

    border-radius: 50%;
}

.help_time
{
    font-size: .65rem;
    line-height: 1.8rem;
    color: #ababab;
}
.clear-fix{
    clear:both;
}
.help_timeout{
    float:left;
}
.help_posttime{
    float:right;
}
